body{
  background-color: rgb(45, 45, 45);
}
.to-do-list{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}
h1{
  font-size: 4rem;
  color: white;
}
button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: backgroud-color 0.5 ease;
}
.add-button{
  background-color: hsl(125, 56%, 38%);
}
.add-button:hover{
  background-color: hsl(125, 56%, 55%);
}
.delete-task{
  background-color: hsl(0, 93%, 40%);
}
.delete-task:hover{
  background-color: hsl(0, 93%, 60%);
}
.move-task{
  background-color: rgb(0, 119, 255);
}
.move-task:hover{
  background-color:rgb(62, 152, 255);
}
input{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid gray;
  color: black;
  border-radius: 5px;
}
ol{
  padding: 0;
}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  
  background-color: #fff;
  margin-bottom: 10px;
  margin:0 100px 10px 100px ;
  border: 3px solid grey ;
  border-radius: 5px;
  display: flex;
  align-items: center;

}
.text{
  flex:1;
} 
.delete-task,.move-task{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left:10px;
}